/* style.css 
fond: #f7efd7 -- #fc7650
text: #59473d
otherfond #e4d4b5
back: #c0e2c9
on: #007f7f
*/
html, body {
	font-family:Palatino Linotype, Palatino, serif;
}
body {
	/*background-color: #f7efd7;*/

}
body.page_accueil {
	background: url("../img/fresno.jpg") no-repeat fixed top center;
	background-size: 100% 100%;
}
p {
    color: #59473d;
}
.color_txt{
	color: #59473d;
}
.color_bk{
	color: #59473d;
}
.color_wh{
	color: #ffffff;
}
.bold{
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.shadow {
	text-shadow: 1px 1px 1px #000000;
}
.cadre_txt {
	border: 2px double #ffffff;
	padding: 5px;
}
.small{
	font-size: 10px;
}
.medium{
	font-size: 20px;
}
.large{
	font-size: 40px;
}
.xlarge{
	font-size: 70px;
}

