/* style.css 

fond: #f7efd7 -- #fc7650
text: #59473d
otherfond #e4d4b5
back: #c0e2c9
on: #007f7f

*/
html, body {
	font-family:Palatino Linotype, Palatino, serif;
}
body {
	/*background-color: #f7efd7;*/

}
body.page_accueil {
   /*background-color: #f7efd7;*/
	background: url("img/fresno.jpg") no-repeat fixed top center;
	background-size: 100% 100%;
}
p {
    color: #59473d;
}
.color_txt{
	color: #59473d;
}
.color_bk{
	color: #59473d;
}
.color_wh{
	color: #ffffff;
}
.bold{
	font-weight: bold;
}
.underline {
	text-decoration: underline;
}
.shadow {
	text-shadow: 1px 1px 1px #000000;
}
.cadre_txt {
	border: 2px double #ffffff;
	padding: 5px;
}
.small{
	font-size: 10px;
}
.medium{
	font-size: 20px;
}
.large{
	font-size: 40px;
}
.xlarge{
	font-size: 70px;
}
/* bulle d'aide popup
attr tiptop
*/
span[tiptop]{
  cursor: help;
  border-bottom: 1px dotted #59473d;
}

[tiptop]{
  display: inline-block;
  position: relative;
}

[tiptop]:hover:before{
  content: attr(tiptop);
  position: absolute;
  padding: 0 8px;
  height: 28px;
  line-height: 28px;
  left: -10px;
  top: -38px;
  background-color: rgba(247, 239, 215, 0.8);
  color: #59473d;
  font-size: 14px;
  white-space: nowrap;
  border: 3px dashed #59473d;
  border-radius: 0.6em;
}

[tiptop]:hover:after {
  content: "";
  position: absolute;
  border-top: 8px solid rgba(89, 71, 61, 1);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  left: 0;
  top: -10px;
}
