body {
  text-align: center;
  background-color: #f0e8c5;
}


body {
  text-align: center;
  background-color: #f0e8c5;
}

div {
  margin-top: 15px;
}

.presentation {
  margin-right: 25px;
  margin-left: 25px;
}


.parcours {
  margin-right: 25px;
  margin-left: 25px;
}

.image-section {
  display: flex;
  justify-content: center;
}

.section-style {
  margin-right: 25px;
  margin-left: 25px;
  background-color: green;
}

footer {
    clear: both;
    position: relative;
    height: 40px;
    margin-top: -40px;
}
